/** Contact page Style **/
* {
    box-sizing: border-box;
    text-align: left;
}
/** Nav bar **/
.topnav {
    overflow: hidden;
  }
 /** Eric Nelson II **/ 
  .topnav a {
    float: left;
    color: #4aaaab;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
/** Nav Bar curser hover color **/
  .topnav a:hover {
    background-color: #4aaaab;
    color: white;
  }
/** Nav bar when button is active **/  
  .topnav a.active {
    color: white;
  }
  /** Nav menu shift right **/
  .topnav-right {
    float: right;
    color: gray;
  }
  body {
    margin: 0%;
}
/** Image background **/
#full {
    width: both;
    overflow: auto;
    background-image: url("../images/gravel.png");
    padding: 50px;
  }
  /** The life of the page **/
  #content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    border-radius: 4px;
  }
  /** Contact h2 **/
  h2 {
      color: #4aaaab;
      font-size: 24pt;
  }
  /** Name Box **/
#name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}
/** Email Box **/
#email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}
/** message box **/
#message {
    width: 100%;
    length: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}
/** Submit button **/
#Submit {
    background-color: #4aaaab;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/** empty pace **/
#place-holder {
    padding: 10px;
    background:#4aaaab;
    text-align: center;
}
/** footer **/
footer {
    padding: 20px;
    clear: both;
    background: grey;
    text-align: center;
}

@media (width: 640px) {
  #Home {
    font-size: 50px;
    padding: 20px;
    width: 100%;
    color: #4aaaab;
  }
  .topnav a:hover {
    background-color: #4aaaab;
    color: white;
}
  .topnav-right {
    margin-right: 130px;
  }
}
@media (width: 768px) {
  #Home {
    margin-left: 50px;
  }
}
@media (width: 980px) {
  #Home {
    margin-left: 50px;
  }
}