/** Portfolio Page Style **/
* {
    box-sizing: border-box;
    text-align: left;
}
/** Nav bar **/
.topnav {
    overflow: hidden;
  }
 /** Eric Nelson II **/ 
.topnav a {
    float: left;
    color: #4aaaab;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
/** Nav Bar curser hover color **/
.topnav a:hover {
    background-color: #ddd;
}
/** Nav bar when button is active **/
.topnav a.active {
    color: white;
}
/** Nav menu shift right **/
  .topnav-right {
    float: right;
}
/** Image background **/
#full {
    width: both;
    overflow: auto;
    background-image: url("../images/gravel.png");
    padding: 50px;
}
/** The life of the page **/
#content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    border-radius: 4px;
}
/** Portfolio h2 **/
#portfolio {
    color: #4aaaab;
}
/** image palceholder **/
img {
    border-radius: 8px;
    border-style: solid;
}
/** empty pace **/
#place-holder {
    padding: 10px;
    background:#4aaaab;
    text-align: center;
}
/** footer **/
footer {
    padding: 20px;
    clear: both;
    background: grey;
    text-align: center;
}
