/** Portfolio Page Style **/
* {
    box-sizing: border-box;
    text-align: center;
    color: white;

} 
#navi1 {
  background-color: black;
}
.form-inline {
  color: white;
}
body {
    margin: 0%;
    height: 1500px;
    background: url("../images/storm.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/** Image background **/
#full {
    width: both;
    overflow: auto;
    background-image: url("../images/gravel.png");
    padding: 50px;
    padding-right: 30%;
}
h1 {
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
    font-family: fantasy;


}
/** The life of the page **/
#content {
    width: 100%;
    padding: 12px 20px;
    margin-right: 50px;
    box-sizing: border-box;
    background: white;
    border-radius: 4px;
    margin-top: 60px;
}
.masthead-brand {
  font-family: cursive;
  font-style: italic;
  color: white;
}
/** Portfolio h2 **/
#portfolio {
    color: #4aaaab;
}
/** image palceholder **/
#images {
   padding-top: 200px;
}

/** empty pace **/
#place-holder {
    padding: 10px;
    background:#4aaaab;
    text-align: center;
}
p {
  padding-left: 46%;
  
}
/** footer **/
#footer {
  padding-left: 40%;
  clear: both;
  background: black;
  color: white;
  text-align: center;
}
/* Display size 400px */
@media (width: 400px) {
    .topnav a {
      font-size: 14px;
    }
  }
  
  @media (width: 400px) {
    img {
      width: 100%;
    }
  }
  
  /* Display size 640px */
  @media (width: 640px) {
    #Home {
      font-size: 30px;
      padding: 5px;
      width: 100%;
    }
    .topnav a:hover {
        background-color: #4aaaab;
        color: white;
    }
    .topnav-right {
      margin-right: 150px;
      font-size: 15px;
    }
    .content {
      padding-top: 50px;
    }
    img {
      width: 90%;
    }
  }
  
  /* Display size 768px */
  @media (width: 768px) {
    #Home {
      margin-left: 50px;

    }
  }
    #full {
    padding-right: 40px;
  }
  @media (width: 768px) {
    img {
      width: 45%;
    }
  }
  /* Display size 980px */
  @media (width: 980px) {
    .Home {
      margin-left: 50px;
    }
  } 
  @media (width: 980px) {
    topnav  {
        margin-left: 20px;
    }
    .content {
      box-sizing: content-box;
        }
    }
  @media (width: 980px) {
    .b {
      text-align-last: left;
    }
    #Home {
        margin-left: 50px;
    }
    #full {
        padding-right: 350px;
        
    }
  }
