/** Home Page Style **/
* {
    box-sizing: border-box;
    text-align: center;
} 
#navi1 {
  background-color: black;
}
.form-inline {
  color: white;
}
/** Nav bar **/
  .topnav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 4%; 
    padding-left: 4.4%;
  }
 /** Eric Nelson II **/ 
  .topnav a {
    float: left;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
/** Nav Bar curser hover color **/
  .topnav a:hover {
    background-color: navy;
    color: white;
  }
/** Nav bar when button is active **/
  .topnav a.active {
    color: white;
  }
  /** Nav menu shift right **/
  .topnav-right {
    float: right;
    padding: 5px;
  }
  body {
    margin: 0%;
    height: 1500px;
    background: url("../images/storm.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/** Image background **/
#full {
    width: both;
    overflow: auto;
    padding: 50px;
  }
  /** The life of the page **/
#content {
  width: 100%;
  padding: 12px 60px;
  margin: 8px 0;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
  margin-top: 60px;
}
/** About Me h2 **/
h2 {
    color: navy;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
/** My image **/
img {
 width:50%;
 float: left;
 padding: 10px;
}
/** Personal Bio **/
#p {
    font-family: Arial, Helvetica, sans-serif
}
div.a {
  text-indent: 50px;
}
div.c {
  text-indent: 50px;
  text-align: left;
}


/** footer **/
#footer {
    padding-left: 40%;
    clear: both;
    background: black;
    color: white;
    text-align: center;
}
/* Display size 400px */
@media (width: 400px) {
  .Home {
   border-width: 100%;
   padding-left: 20px;
  }
  .topnav a {
    font-size: 14px;
    text-align: center;
  }
}

@media (width: 400px) {
  img {
    width: 100%;
  }
}

/* Display size 640px */
@media (width: 640px) {
  .Home {
    font-size: 50px;
    padding: 20px;
    width: 100%;
    color: white;
  }
  .topnav-right {
    margin-right: 150px;
  }
}

@media (width: 640px) {
  img {
    width: 100%;
  }
}

/* Display size 768px */
@media (width: 768px) {
  .Home {
    margin-left: 50px;
  }
}

@media (width: 768px) {
  img {
    width: 100%;
  }
}
/* Display size 980px */
@media (width: 980px) {
  .Home {
    margin-left: 50px;
  }
}
@media (width: 980px) {
  img {
    width: 30%;
  }
}
@media (width: 980px) {
  .content {
    box-sizing: content-box;
  }
}

@media (width: 980px) {
  .b {
    text-align-last: left;
  }
}